menu "TOSHIBA TZ3000 platform"
	depends on ARCH_TZ3000

config MACH_TZ3000RB
	bool "Support TOSHIBA TZ3000 RB board"
	default y
	help
	  Include support for TOSHIBA RBTZ3000 (ANDES) board.
	  This board has UART, SD slot, SDIO slot, SPIB with two
	  embedded SPI-Flash chip, I2C, NAND socket, PCIe slot, USBH,
	  Gbit-Ether, etc.

config MACH_TZ3000RB2
	bool "Support TOSHIBA TZ3000 RB2 platform"
	default y
	help
	  Include support for TOSHIBA RBTZ3000 (URAL) board.
	  This board has UART, SPIB with an embedded SPI-Flash chip,
	  I2C, embedded NAND chip, USBD, 100M-Ether on optional debug
	  board, etc.

config MACH_TZ3000RB3
	bool "Support TOSHIBA TZ3000 RB3 platform"
	default y
	help
	  Include support for TOSHIBA RBTZ3000 (CASCADE) board.
	  This board has UART, SD slot, SDIO slot, SPIB with an
	  embedded SPI-Flash chip, I2C, embedded NAND chip, USBH,
	  Gbit-Ether, etc.

config MACH_TZ3000RB4
	bool "Support TOSHIBA TZ3000 RB4 platform"
	default y
	help
	  Include support for TOSHIBA RBTZ3000 (MANASLU) board.
	  This board has UART, SD slot, embedded eMMC chip, SPIB on
	  optional board, I2C, USBH, etc.
	  Boot device can be selected by DIPSW.

config MACH_TZ3000EVA
	bool "Support TOSHIBA TZ3000 EVA board"
	default y
	help
	  Include support for TOSHIBA TZ3000 EVA board.
	  This board has UART, SD slot, SDIO slot, embedded eMMC chip,
	  SPIB with two SPI-Flash socket, SPIM with an embedded
	  SPI-EEPROM chip, I2C with an EEPROM chip, PCIe slot, USBH,
	  Gbit-Ether, etc.

config CACHE_L310_PREFETCH_ENABLE
	bool "Enable Instruction/Data prefetching"
	depends on CACHE_PL310
	default y
	help
	  This option sets Instruction prefetch enable bit (bit29) and
	  Data prefetch enable bit (bit28) in Auxiliary Control
	  Register and Prefetch Control Register of the L2 cache
	  controller.

config TZ3000_SGPIO
	bool "Support TOSHIBA TZ3000 SGPIO"
	help
	  Include support for TOSHIBA TZ3000 SGPIO module.
	  Interrupts from SGPIO are directed to SYSCON module and
	  the SYSCON firmware notify those interrupt events to ARM
	  using mbox.

config TZ3000_DEBUG_UART
	int "Debug UART for TZ3000"
	range 0 4
	default "0"

config TZ3000_UART1
	bool "Support TOSHIBA TZ3000 UART1"
	default n
	help
	  Enable UART1 in TOSHIBA TZ3000.

config TZ3000_UART2
	bool "Support TOSHIBA TZ3000 UART2"
	default n
	help
	  Enable UART2 in TOSHIBA TZ3000.

config TZ3000_UART3
	bool "Support TOSHIBA TZ3000 UART3"
	default n
	help
	  Enable UART3 in TOSHIBA TZ3000.

config TZ3000_UART4
	bool "Support TOSHIBA TZ3000 UART4"
	default n
	help
	  Enable UART4 in TOSHIBA TZ3000.

endmenu
